[Unit]
Description=web dx cluster backend
After=network.target postgresql@9.4-main.service 

[Service]
ExecStart=/usr/local/webcluster/clusterCn.py
Restart=always

[Install]
WantedBy=multi-user.target
