<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"                                                
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<div id="fixed_top">

     <div id="add_dx_call">
        <span id="list_title">
            DXpedition list
        </span><br>
        <input type="text" ng-model="vm.newCallsign" placeholder="Callsign" class="input_dx_call" ng-blur="vm.callsignBlur()"> <input type="text" ng-model="vm.newDescr" placeholder="Comments" class="input_dx_call"> <input type="text" ng-model="vm.newLink" placeholder="Link" class="input_dx_call">
        <br/>
        Start: 
        <div class="datepicker">
        <input date-time format="DD MMM YYYY" ng-model="vm.newDtBegin" view="date" min-view="date"/>
        </div>
        End:
        <div class="datepicker">
        <input date-time format="DD MMM YYYY" ng-model="vm.newDtEnd" view="date" min-view="date"/>
        </div>
        <input type="button" ng-click="vm.insertItem()" id="submit_btn" value="OK"/>
    </div>    

    <table class="dx_list">
        <tbody><tr>
            <th id="callsign">&nbsp;</th>
            <th id="comments">&nbsp;</th>
            <th id="link">&nbsp;</th>
            <th id="start_date">Start date</th>
            <th id="end_date">End date</th>
            <th id="delete">&nbsp;</th>
        </tr>
    </tbody></table>
    
</div> <!-- fixed div end-->


<table class="dx_list dx_list_fixed">
    <tbody>
    <tr ng-repeat="item in vm.dxpedition | orderBy: 'callsign'">
        <td class="callsign" ng-click="vm.openItem(item)">{{item.callsign}}</td>
        <td class="comments">{{item.descr}}</td>
        <td class="link"><a href="{{item.link}}" target="_blank">link</a></td>
        <td class="start_date">{{item.dt_begin}}</td>
        <td class="end_date">{{item.dt_end}}</td>
        <td class="delete"><img src="images/icon_close.png" ng-click="vm.deleteItem(item)" title="Delete"></td>
    </tr>
    </tbody>
</table>

