<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"                                                
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<div id="news" ng-show="vm.news.html()">
    <div id="news_title">NEWS</div>
    <div id="news_close">
            <img src="/images/icon_close.png" title="Close" ng-click="vm.news.close()"/> 
    </div>
    <span ng-bind-html="vm.news.html()"/>
</div>
<dx-selector storage-key="adxcluster-selector" on-sound-change="vm.soundChange()"
        on-selector-change="vm.selectorChange()" after-init="vm.selectorInit( $selector )">
</dx-selector>

<table id="cluster">
    <tr>
        <th class="time">{{vm.time}} <span>z</span></th>
        <th class="freq">MHz</th>
        <th class="mode">Mode</th>
        <th class="lotw" title="LOTW">L</th>
        <th class="callsign">Callsign</th>
        <th class="awards">Awards</th> 
        <th id="link_status">Text</th>
        <th class="spotter">Spotter</th>
    </tr>
    <tr ng-repeat="item in vm.dxFiltered track by $index" 
        ng-class-odd="'odd'" ng-class-even="'even'">
        <td class="time">{{item.time}}</td>
        <td class="freq">
            {{item.freq.toFixed(1).substr(0, item.freq.toFixed(1).length - 5 )
            }}<span>{{item.freq.toFixed(1).substr( -5 )}}</span>
        </td>
        <td class="mode">{{item.subMode ? item.subMode : item.mode}}</td>
        <td class="lotw">{{item.lotw ? '+' : ''}}</td>
        <td class="callsign">
            <a target="_blank" 
                href="http://qrz.com/db/{{item.cs.toLowerCase()}}">{{ vm.replace0( item.cs ) +
                    (item.qrp ? '/QRP' : '' ) }}</a>
        </td>
        <td class="awards">
            <span ng-repeat="award in item.awards track by $index">
                <a ng-if="!award.noStats"
                ui-sref="stats( {award: award.award, value: award.value, band: item.band, 
                mode: award.mode || item.subMode || item.mode, 
                list_id: award.list_id} )">                    
                    <span 
                        class="award_name" ng-style="{'color': award.color}"
                        >{{award.award}}<img ng-if="award.worked" src="/images/icon_worked.png" 
                                title="worked but not confirmed"/></span>{{
                            award.value && ( !award.list_id || award.pfx )
                            ? ' ' + vm.replace0( award.value) : ''}}<span 
                                ng-if="award.descr"> ({{award.descr}})</span></a><span ng-if="award.noStats">
                    <span 
                        class="award_name" ng-style="{'color': award.color}"
                        >{{award.award}}<img ng-if="award.worked" src="/images/icon_worked.png" 
                                title="worked but not confirmed"/></span>{{
                             award.value && ( !award.list_id || award.pfx )
                            ? ' ' + vm.replace0( award.value) : ''}}</span><span 
                                ng-if="award.link"> <a class="dxinfo" 
                                target="_blank" href="{{award.link}}">info</a></span><span ng-if="!$last">, </span>
           </span>
               
        </td>  
        <td class="text">{{ vm.replace0( item.text )}}</td>
        <td class="spotter">{{ vm.replace0( item.de )}}</td>
    </tr>
</table>


