<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"                                                
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--script src='//www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded()&render=explicit' async defer></script-->
<form id="login" method="post">
    Callsign<br/>
    <input type="text" name="callsign" ng-model="vm.user.callsign">
    <br><br>Password <span>(min. 6 symbols)</span><br>
    <input type="password" name="password" ng-model="vm.user.password" id="password">
    <br><br>
    <span ng-show="vm.user.register">
        <br><br>Email<br/>
        <input type="text" name="email" ng-model="vm.user.email">

        <br><br>
        <div id="recaptcha"
            vc-recaptcha
            theme="'light'"
            key="'6LeDVCQTAAAAAN3QgmsJzIi-mQP5nx9p5Pc6Nj4k'"
            on-create="vm.recaptchaWidgetId = widgetId"
            on-success="vm.user.recaptcha = response"
            on-expire="vm.rcExpired()">
        </div>
        <div id="recaptcha">
            <!--div class="g-recaptcha" data-sitekey="6LeDVCQTAAAAAN3QgmsJzIi-mQP5nx9p5Pc6Nj4k"
                data-callback="rcCallback" data-expired-callback="rcExpired">
            </div-->
        </div>
    </span>
    <br><br>
    <input id="remember" name="remember" type="checkbox" ng-model="vm.remember">Remember me
    <br/><br/>
    <input type="button" id="submit_btn" name="login" 
        value="{{vm.user.register ? 'Register' : 'Login'}}" ng-click="vm.login()" 
        ng-show="vm.loginButtonVisible()">
    <br><br>
    <div id="login_register">
        <a href="" ng-click="vm.user.register = !vm.user.register">
            {{vm.user.register ? 'Login' : 'Register new user'}}
        </a>
    </div>
    <div id="login_recovery"><a href="/passwordrecovery.html">Password recovery</a></div>
    <br>
</form>


