<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"                                                
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<table id="setup_block" ng-show="vm.showEmailForm">
     <tr>
        <td>
            <div id="award_setup">
                <table class="email_form">
                    <tr>
                        <td class="mailto">
                            Email</br>
                            {{vm.user.data.email}}
                        </td>
                        <td class="station_callsign">
                            Callsign</br>
                            <ui-select tagging tagging-label="false" ng-model="vm.email.stationCs" 
                                theme="selectize" style="width: 100px;" title="Choose your callsign">
                                <ui-select-match>{{$select.selected}}</ui-select-match>
                                <ui-select-choices 
                                    repeat="cs in vm.stationCsList | filter: $select.search">
                                    <div ng-bind-html="cs | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>                        
                        </td>
                        <td class="date">
                            Date</br>
                            <input type="text" ng-value="vm.email.date"/>
                        </td>
                        <td class="time">
                            Time</br>
                            <input type="text" ng-value="vm.email.time"/>
                        </td>
                        <td class="band" ng-if="vm.activeAward.byBand">
                            Band</br>
                            {{vm.activeBand}}
                        </td>
                        <td class="freq">
                            MHz</br>
                            <input type="text" ng-value="vm.email.freq"/>
                        </td>
                        <td class="mode" ng-if="vm.activeAward.byBand">
                            Mode<br/>
                            {{vm.activeMode}}
                        </td>
                        <td class="worked_callsign">
                            Worked callsign
                            <input type="text" ng-model="vm.email.workedCs"/>
                        </td>
                        <td class="comments">
                            Comments</br>
                            <input type="text" ng-model="vm.email.comments"/>
                        </td>
                    </tr>
                </table>
                <br/>
                <input type="submit" id="submit_btn" name="email_btn_send" value="Send"
                    ng-click="vm.emailSend()"/>&nbsp;
                <input type="submit" id="submit_btn" name="email_btn_cancel" value="Cancel"
                    ng-click="vm.showEmailForm = false"/>
            </div>
        </tr>
    </td>
</table>


<div id="fixed_top">

    <!-- <h4>{{user.callsign}}</h4>    -->
    <select id="award_title" ng-model="vm.activeAward" 
        ng-options="award as (award.fullName + ' (' + award.name + ')') 
            for award in vm.awards | orderBy: 'country'"
        ng-change="vm.activeAwardChanged()">
        <option value="">Select award</option>
    </select>

    <!--div class="awardTitle">
        {{vm.activeAward.fullName + ' (' + vm.activeAward.name + ')'}}
    </div-->

    <div ng-if="!vm.activeAward.byBand">
        <table id="award_info" ng-show="vm.activeAward">
            <tr>
                <td id="award_stat">
                    <button-color-picker value="vm.user.data.awardValueWorkedColor"
                        change="vm.user.saveUserSettings()"></button-color-picker>
                    <!--button colorpicker type="button" colorpicker-position="top" 
                        ng-model="vm.user.data.awardValueWorkedColor"
                        ng-style="{ 'background-color': vm.user.data.awardValueWorkedColor }"
                        ng-change="saveUserSettings()">&nbsp;</button-->
                    <span>{{vm.activeAward.worked}}</span> worked<br/>
                    <button-color-picker value="vm.user.data.awardValueConfirmedColor"
                        change="vm.user.saveUserSettings()"></button-color-picker>
                    <span>{{vm.activeAward.confirmed}}</span> confirmed

                    <table id="view_cfm">
                        <tr>
                            <th colspan="3">View CFM</th>
                        </tr>
                        <tr>
                            <td ng-repeat="type in vm.cfm">
                                <input type="checkbox" ng-model="type.enabled" ng-change="vm.cfmChanged()">
                                <br/>
                                {{type.display}}
                            </td>
                        </tr>
                    </table>
                    
                </td>
                <td id="award_edit">                
                    <form ng-submit="vm.findValue()">
                        {{vm.activeAward.name}} code 
                        <input type="text" name="award_option" ng-model="vm.searchExpr"> 
                        <input type="submit" class="submit_btn" name="award_unit_search" value="OK">
                    </form>
                        <div id="selected_unit_info" ng-show="vm.activeValue">
                            <span id="code">{{vm.activeValue.value}}</span> &nbsp; 
                            <span id="code_info">{{vm.activeAward.groups[vm.activeValue.group]}} 
                                {{vm.activeValue.desc}}</span><br/>
                            <span id="wkd" class="button"
                                ng-class="{'active': vm.activeValue.userAward.worked}"
                                ng-click="vm.activeValue.userAward.worked = 
                                    !vm.activeValue.userAward.worked;
                                    vm.modifyActiveValue( 'worked' );">
                                Worked
                            </span> 
                            <span id="cfm">
                                Confirmed:
                                <span ng-repeat="type in vm.cfm" class="button"
                                        ng-class="{'active':vm.activeValue.userAward.cfm[type.field]}"
                                        ng-click="vm.activeValue.userAward.cfm[type.field] = 
                                            !vm.activeValue.userAward.cfm[type.field];
                                            vm.modifyActiveValue( 'confirmed' );">
                                    {{type.display}} &nbsp;
                                </span> 
                            </span>
                            <input type="text" id="wkd_calls" placeholder="worked callsigns" 
                                ng-model="vm.activeValue.userAward.workedCS"/>
                            <input type="submit" class="submit_btn" name="save_award_unit_info" value="Save"
                                ng-click="vm.saveWorkedCS()"/>
                            <input type="submit" class="submit_btn" name="email_award_unit_info" value="Email"
                                ng-click="vm.openEmailForm()" ng-if="vm.user.data.token""/>
                       </div>
                </td>
            </tr>
        </table>
    </div>

    <div ng-if="vm.activeAward.byBand">
        <table id="ABM_edit">
            <tr>
                <td id="view">
                    <span id="view_filter_note">View filter</span>
                    <table class="view_modes">
                        <tr>
                            <td colspan="8" class="view_title">
                                <button-color-picker value="vm.user.data.awardValueWorkedColor"
                                    change="vm.user.saveUserSettings()"></button-color-picker>
                                Worked
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" ng-model="vm.mixMode" 
                                    ng-change="vm.cfmChanged()">
                                Mix
                            </td>
                            <td ng-repeat="item in vm.modes">
                                <input type="checkbox" ng-model="vm.modesFilter[item]"
                                    ng-disabled="vm.mixMode"
                                    ng-change="vm.cfmChanged()">
                                {{item}}
                            </td>
                        </tr>
                    </table>
                    <table class="view_modes">
                        <tr>
                            <td colspan="3" class="view_title">
                               <button-color-picker value="vm.user.data.awardValueConfirmedColor"
                                    change="vm.user.saveUserSettings()"></button-color-picker>
                                Confirmed
                            </td>
                        </tr>
                        <tr>
                            <td ng-repeat="item in vm.cfm">
                                <input type="checkbox" ng-model="item.enabled" 
                                    ng-change="vm.cfmChanged()">
                                {{item.display}}
                            </td>
                        </tr>
                    </table>
                    
                </td>
                <td id="edit_inputs">
                    <span id="manual_edit_note">Manual edit</span>
                    <div ng-if="vm.activeValue">

                        <span id="selected_item">{{vm.activeValue.value}} {{vm.activeValue.desc}}</span><br/>
                    <span class="button" ng-repeat="item in vm.modes"
                        ng-class="{'active': vm.activeMode == item }"
                        ng-click="vm.activeMode = item;">{{item}}</span>
                    <br/>
                    <span class="button" ng-repeat="item in vm.const.bands"
                        ng-class="{'active': vm.activeBand == item }"
                        ng-click="vm.activeBand = item;">{{item}}</span>
                    <br/>
                    <span ng-show="vm.activeValue && vm.activeBand && vm.activeMode">
                        <span id="wkd" class="button"
                            ng-class="{'active': vm.activeValue[vm.activeBand][vm.activeMode].worked}"
                            ng-click="vm.activeValue[vm.activeBand][vm.activeMode].worked = 
                                !vm.activeValue[vm.activeBand][vm.activeMode].worked;
                                vm.modifyActiveValue( 'worked' );">
                            Worked
                        </span> 
                        <span id="cfm">
                            Confirmed:
                            <span ng-repeat="type in vm.cfm" class="button"
                                ng-class="{'active':vm.activeValue[vm.activeBand][vm.activeMode].cfm[type.field]}"
                                ng-click="vm.activeValue[vm.activeBand][vm.activeMode].cfm[type.field] = 
                                    !vm.activeValue[vm.activeBand][vm.activeMode].cfm[type.field];
                                    vm.modifyActiveValue( 'confirmed' );">
                                {{type.display}} &nbsp;
                            </span> 
                        </span>
                        <input type="text" id="wkd_calls" placeholder="worked callsigns" 
                            ng-model="vm.activeValue[vm.activeBand][vm.activeMode].workedCS"/>
                        <input type="submit" class="submit_btn" name="save_award_unit_info" value="Save"
                            ng-disabled="!vm.activeValue[vm.activeBand][vm.activeMode].worked"
                            ng-click="vm.saveWorkedCS()"/>
                        <input type="submit" class="submit_btn" name="email_award_unit_info" value="Email"
                            ng-click="vm.openEmailForm()" ng-if="vm.user.data.token"/>
                   </span>
                    </span>
                    </div>
                </td>
            </tr>
        </table>


        <table id="ABM_fixed">
            <tr>
                <td rowspan="2" id="wkd_cfm_note">worked <span>/ confirmed</span></td>
                <td ng-repeat="item in vm.const.bands" class="band">{{item}}</td>
            </tr>
            <tr>
                <td class="band_stat" ng-repeat="item in vm.const.bands">
                    {{vm.stats[item].worked}}<span> / {{vm.stats[item].confirmed}}</span>
                </td>
            </tr>
        </table>

    </div>

</div>

<table id="award_progress" ng-if="vm.activeAward && !vm.activeAward.byBand">
    <tr ng-repeat="group in vm.activeAward.orderedGroups">
        <td class="award_block">
            {{group}}
        </td>
        <td class="award_units">           
            <div class="award_unit" 
                ng-repeat="item in vm.activeAward.values | 
                    filter: { 'group': group }" 
                id="value_{{item.value}}"
                ng-click="vm.setActive( item )"
                ng-style="{ 'background-color': 
                item.confirmed ? vm.user.data.awardValueConfirmedColor : 
                ( item.userAward ? vm.user.data.awardValueWorkedColor : null ) }"
                ng-class="{active: vm.activeValue == item}">
                {{item.displayValue}}
            </div>
        </td>
    </tr>
</table>

<table id="ABM_view" ng-if="vm.activeAward.byBand">
    <tr ng-repeat="item in vm.activeAward.values | orderBy: 'value'" 
        id="value_{{item.value}}"
        ng-class-odd="odd">
        <td class="unit_to_select" ng-click="vm.setActive( item, null, null )">
            <span>{{item.value}}</span> {{item.desc}}
        </td>
        <td class="band" ng-repeat="band in vm.const.bands" 
                         ng-click="vm.setActive( item, band, null )">
            <span ng-if="vm.mixMode" class="mode_unit"
                ng-click="vm.setActive( item, band ); $event.stopPropagation();"
                ng-style="{ 'background-color': item[band].confirmed ? 
                    vm.user.data.awardValueConfirmedColor :                 
                    ( item[band].worked ? 
                    vm.user.data.awardValueWorkedColor : null ) }" 
                ng-class="{active: vm.activeValue == item && vm.activeBand == band}">
                Mix</span>
            <span ng-repeat="mode in vm.modes" class="mode_unit"
                ng-if="!vm.mixMode && vm.modesFilter[mode]"
                ng-click="vm.setActive( item, band, mode ); 
                    $event.stopPropagation();"
                ng-style="{ 'background-color': item[band][mode].confirmed ? 
                    vm.user.data.awardValueConfirmedColor :                 
                    ( item[band][mode] ? 
                    vm.user.data.awardValueWorkedColor : null ) }" 
                ng-class="{active: vm.activeValue == item && vm.activeBand == band && vm.activeMode == mode}">
                {{vm.const.modesShort[mode]}}</span>
            </div>
        </td>
    </tr>
</table>


<loading-screen></loading-screen>



