<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"                                                
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<div id="fixed_top">

    <!-- <h4>{{user.callsign}}</h4>    -->
    <select id="award_title" ng-model="vm.activeAward" 
        ng-options="award as (award.fullName + ' (' + award.name + ')') 
            for award in vm.awards | orderBy: 'country'"
        ng-change="vm.activeAwardChanged()">
        <option value="">Select award</option>
    </select>

    <div ng-if="!vm.activeAward.byBand">
        <table id="award_info" ng-show="vm.activeAward">
            <tr>
                <td id="award_stat">
                    <button colorpicker type="button" colorpicker-position="top" 
                        ng-model="vm.user.data.awardValueWorkedColor"
                        style='background-color: {{vm.user.data.awardValueWorkedColor}};'
                        ng-change="saveUserSettings()">&nbsp;</button>
                        <span>{{vm.activeAward.worked}}</span> worked<br/>
                        <button colorpicker type="button" colorpicker-position="top" 
                        ng-model="vm.user.data.awardValueConfirmedColor"
                        style='background-color: {{vm.user.data.awardValueConfirmedColor}};'
                        ng-change="vm.user.saveUserSettings()">&nbsp;</button>
                        <span>{{vm.activeAward.confirmed}}</span> confirmed

                        <table id="view_cfm">
                        <tr>
                            <th colspan="3">View CFM</th>
                        </tr>
                        <tr>
                            <td ng-repeat="type in vm.cfm">
                                <input type="checkbox" ng-model="type.enabled" ng-change="vm.cfmChanged()">
                                {{type.display}}
                            </td>
                        </tr>
                        </table>
                    
                </td>
                <td id="award_edit">                
                    <form ng-submit="vm.findValue()">
                        {{vm.activeAward.name}} code 
                        <input type="text" name="award_option" ng-model="searchExpr"> 
                        <input type="submit" class="submit_btn" name="award_unit_search" value="OK">
                    </form>
                        <div id="selected_unit_info" ng-show="vm.activeValue">
                            <span id="code">{{vm.activeValue.value}}</span> &nbsp; 
                            <span id="code_info">{{vm.activeAward.groups[vm.activeValue.group]}} 
                                {{vm.activeValue.desc}}</span><br/>
                            <span id="wkd">
                                <u>Worked</u>
                                <input type="checkbox" name="unit_worked" 
                                    ng-model="vm.activeValue.userAward.worked" 
                                    ng-change="vm.modifyActiveValue( 'worked' )">
                            </span> 
                            <span id="cfm">
                                <u>Confirmed</u>:
                                <span ng-repeat="type in vm.cfm">
                                    <input type="checkbox" ng-model="vm.activeValue.userAward[type.field]"
                                        ng-change="vm.modifyActiveValue( 'confirmed' )">
                                    {{type.display}} &nbsp;
                                </span> 
                            </span>
                            <input type="text" id="wkd_calls" placeholder="worked callsigns" 
                                ng-model="vm.activeValue.userAward.workedCS"/>
                            <input type="submit" class="submit_btn" name="save_award_unit_info" value="Save"
                                ng-click="vm.saveWorkedCS()"/>
                        </div>
                </td>
            </tr>
        </table>
    </div>

    <div ng-if="vm.activeAward.byBand">
        <table id="ABM_edit">
            <tr>
                <td id="view">
                    <span id="view_filter_note">View filter</span>
                    <table class="view_modes">
                        <tr>
                            <td colspan="7" class="view_title">
                            
                                <button colorpicker type="button" colorpicker-position="top" 
                                    ng-model="vm.user.data.awardValueWorkedColor"
                                    style='background-color: {{vm.user.data.awardValueWorkedColor}};'
                                    ng-change="vm.saveUserSettings()">&nbsp;</button>
                                Worked
                            </td>
                        </tr>
                        <tr>
                            <td ng-repeat="item in vm.const.modes">
                                <input type="checkbox" ng-model="vm.modesFilter[item]" 
                                    ng-change="vm.cfmChanged()">
                                {{item}}
                            </td>
                        </tr>
                    </table>
                    <table class="view_modes">
                        <tr>
                            <td colspan="3" class="view_title">
                                <button colorpicker type="button" colorpicker-position="top" 
                                    ng-model="vm.user.data.awardValueConfirmedColor"
                                    style='background-color: {{vm.user.data.awardValueConfirmedColor}};'
                                    ng-change="vm.saveUserSettings()">&nbsp;</button>
                                Confirmed
                            </td>
                        </tr>
                        <tr>
                            <td ng-repeat="item in vm.cfm">
                                <input type="checkbox" ng-model="item.enabled" 
                                    ng-change="vm.cfmChanged()">
                                {{item.display}}
                            </td>
                        </tr>
                    </table>
                    
                </td>
                <td id="edit_inputs">
                    <span id="manual_edit_note">Manual edit</span>
                    <div>

                    <span id="selected_item">{{vm.activeValue.value}} {{vm.activeValue.desc}}</span>
                    <table class="bands_modes">
                        <tr>
                            <td ng-repeat="item in vm.const.modes">
                                <input type="radio" ng-model="vm.activeMode" name="mode_select"
                                value="{{item}}" ng-change="vm.activeModeChanged()">
                                {{item}}
                            </td>
                        </tr>
                    </table>
                    <table class="bands_modes">
                        <tr>
                            <td ng-repeat="item in vm.const.bands">
                                <input type="radio" ng-model="vm.activeBand" name="band_select"
                                value="{{item}}" >
                                {{item}}
                            </td>
                        </tr>
                    </table>  
                    <span ng-show="vm.activeValue && vm.activeBand && vm.activeMode">
                        <span id="wkd">
                            <u>Worked</u>
                            <input type="checkbox" name="unit_worked" 
                                ng-model="vm.activeValue[vm.activeBand][vm.activeMode].worked" 
                                ng-change="vm.modifyActiveValue( 'worked' )">
                        </span> 
                        <span id="cfm">
                            <u>Confirmed</u>:
                            <span ng-repeat="type in vm.cfm">
                                <input type="checkbox" 
                                    ng-model="vm.activeValue[vm.activeBand][vm.activeMode][type.field]"
                                    ng-change="vm.modifyActiveValue( 'confirmed' )">
                                {{type.display}} &nbsp;
                            </span> 
                        </span>
                        <input type="text" id="wkd_calls" placeholder="worked callsigns" 
                            ng-model="vm.workedCS"/>
                        <input type="submit" class="submit_btn" name="save_award_unit_info" value="Save"
                            ng-disabled="!vm.activeValue[vm.activeBand][vm.activeMode].worked"
                            ng-click="vm.saveWorkedCS()"/>
                    </span>

                    </div>
                </td>
            </tr>
        </table>


        <table id="ABM_fixed">
            <tr>
                <td rowspan="2" id="wkd_cfm_note">worked <span>/ confirmed</span></td>
                <td ng-repeat="item in vm.const.bands" class="band">{{item}}</td>
            </tr>
            <tr>
                <td class="band_stat" ng-repeat="item in vm.const.bands">
                    {{vm.stats[item].worked}}<span> / {{vm.stats[item].confirmed}}</span>
                </td>
            </tr>
        </table>

    </div>

</div>

<table id="award_progress" ng-if="!vm.activeAward.byBand">
    <tr ng-repeat="group in vm.activeAward.orderedGroups">
        <td class="award_block">
            {{group}}
        </td>
        <td class="award_units">           
            <div class="award_unit" 
                ng-repeat="item in vm.activeAward.values | filter: { 'group': group }" 
                ng-click="vm.setActive( item )"
                ng-style="{ 'background-color': item.confirmed ? vm.user.data.awardValueConfirmedColor : 
                ( item.userAward ? vm.user.data.awardValueWorkedColor : null ) }">{{item.displayValue}}</div>
        </td>
    </tr>
</table>

<table id="ABM_view" ng-if="vm.activeAward.byBand">
    <tr ng-repeat="item in vm.activeAward.values" ng-class-odd="odd">
        <td class="unit_to_select" ng-click="vm.setActive( item, null, null )">
            <span>{{item.value}}</span> {{item.desc}}
        </td>
        <td class="band" ng-repeat="band in vm.const.bands" 
            ng-style="{ 'background-color': item[band].confirmed ? vm.user.data.awardValueConfirmedColor : 
                                ( item[band].worked ? vm.user.data.awardValueWorkedColor : null ) }"     
            ng-click="vm.setActive( item, band, null )"
            ng-mouseover="vm.popup = {item: item, band: band }"
            ng-mouseleave="vm.popup = null">
            <div class="popup" ng-show="vm.popup.item == item && vm.popup.band == band"
                <div ng-repeat="mode in vm.const.modes" 
                    ng-click="vm.setActive( item, band, mode ); $event.stopPropagation();"
                    ng-style="{ 'background-color': item[band][mode].confirmed ? 
                        vm.user.data.awardValueConfirmedColor :                 
                        ( item[band][mode] ? 
                        vm.user.data.awardValueWorkedColor : null ) }" 
                    ng-class="{'hover': false }"
                    ng-mouseenter="vm.hover = mode"
                    ng-mouseleave="vm.hover = null"
                    >{{mode}}</div>
            </div>
        </td>
    </tr>
</table>




<table id="loader" ng-show="vm.loading"><tr><td>Loading...<br/><img src="/images/loader.gif" title="Loading"></td></tr></table>


