<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"                                                
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<div id="fixed_top">

    <!-- <h4>{{user.callsign}}</h4>    -->
    <select id="award_title" ng-model="vm.activeAward" 
        ng-options="award as (award.fullName + ' (' + award.name + ')') 
            for award in vm.awards | orderBy: 'country'"
        ng-change="vm.activeAwardChanged()">
        <option value="">Select award</option>
    </select>

    <div ng-if="!vm.activeAward.byBand">
        <table id="award_info" ng-show="vm.activeAward">
            <tr>
                <td id="award_stat">
                    <button colorpicker type="button" colorpicker-position="top" 
                        ng-model="vm.user.awardValueWorkedColor"
                        style='background-color: {{vm.user.awardValueWorkedColor}};'
                        ng-change="saveUserSettings()">&nbsp;</button>
                        <span>{{vm.activeAward.worked}}</span> worked<br/>
                        <button colorpicker type="button" colorpicker-position="top" 
                        ng-model="vm.user.awardValueConfirmedColor"
                        style='background-color: {{vm.user.awardValueConfirmedColor}};'
                        ng-change="vm.saveUserSettings()">&nbsp;</button>
                        <span>{{vm.activeAward.confirmed}}</span> confirmed

                        <table id="view_cfm">
                        <tr>
                            <th colspan="3">View CFM</th>
                        </tr>
                        <tr>
                            <td ng-repeat="type in cfm">
                                <input type="checkbox" ng-model="type.enabled" ng-change="vm.cfmChanged()">
                                {{type.display}}
                            </td>
                        </tr>
                        </table>
                    
                </td>
                <td id="award_edit">                
                    <form ng-submit="vm.findValue()">
                        {{vm.activeAward.name}} code 
                        <input type="text" name="award_option" ng-model="searchExpr"> 
                        <input type="submit" class="submit_btn" name="award_unit_search" value="OK">
                    </form>
                        <div id="selected_unit_info" ng-show="vm.activeValue">
                            <span id="code">{{vm.activeValue.value}}</span> &nbsp; 
                            <span id="code_info">{{vm.activeAward.groups[vm.activeValue.group]}} 
                                {{vm.activeValue.desc}}</span><br/>
                            <span id="wkd">
                                <u>Worked</u>
                                <input type="checkbox" name="unit_worked" ng-model="vm.activeValue.worked" 
                                    ng-change="vm.modifyActiveValue( 'worked' )">
                            </span> 
                            <span id="cfm">
                                <u>Confirmed</u>:
                                <span ng-repeat="type in vm.cfm">
                                    <input type="checkbox" ng-model="vm.activeValue[type.field]"
                                        ng-change="vm.modifyActiveValue( 'confirmed' )">
                                    {{type.display}} &nbsp;
                                </span> 
                            </span>
                            <input type="text" id="wkd_calls" placeholder="worked callsigns" 
                                ng-model="vm.activeValue.workedCS"/>
                            <input type="submit" class="submit_btn" name="save_award_unit_info" value="Save"
                                ng-click="vm.saveWorkedCS()"/>
                        </div>
                </td>
            </tr>
        </table>
    </div>

    <div ng-if="vm.activeAward.byBand">
        <table id="ABM_edit">
            <tr>
                <td id="view">
                    <span id="view_filter_note">View filter</span>
                    <table class="view_modes">
                        <tr>
                            <td colspan="7" class="view_title">
                            
                                <button colorpicker type="button" colorpicker-position="top" 
                                    ng-model="user.awardValueWorkedColor"
                                    style='background-color: {{user.awardValueWorkedColor}};'
                                    ng-change="saveUserSettings()">&nbsp;</button>
                                Worked
                            </td>
                        </tr>
                        <tr>
                            <td ng-repeat="item in const.modes">
                                <input type="checkbox" ng-model="modesFilter[item]" 
                                    ng-change="cfmChanged()">
                                {{item}}
                            </td>
                        </tr>
                    </table>
                    <table class="view_modes">
                        <tr>
                            <td colspan="3" class="view_title">
                                <button colorpicker type="button" colorpicker-position="top" 
                                    ng-model="user.awardValueConfirmedColor"
                                    style='background-color: {{user.awardValueConfirmedColor}};'
                                    ng-change="saveUserSettings()">&nbsp;</button>
                                Confirmed
                            </td>
                        </tr>
                        <tr>
                            <td ng-repeat="item in cfm">
                                <input type="checkbox" ng-model="item.enabled" 
                                    ng-change="cfmChanged()">
                                {{item.display}}
                            </td>
                        </tr>
                    </table>
                    
                </td>
                <td id="edit_inputs">
                    <span id="manual_edit_note">Manual edit</span>
                    <div>

                    <span id="selected_item">{{activeValue.value}} {{activeValue.desc}}</span>
                    <table class="bands_modes">
                        <tr>
                            <td ng-repeat="item in const.modes">
                                <input type="radio" ng-model="$parent.activeMode" name="mode_select"
                                value="{{item}}" ng-change="activeModeChanged()">
                                {{item}}
                            </td>
                        </tr>
                    </table>
                    <table class="bands_modes">
                        <tr>
                            <td ng-repeat="item in const.bands">
                                <input type="radio" ng-model="$parent.activeBand" name="band_select"
                                value="{{item}}" >
                                {{item}}
                            </td>
                        </tr>
                    </table>  
                    <span ng-show="activeValue && activeBand && activeMode">
                        <span id="wkd">
                            <u>Worked</u>
                            <input type="checkbox" name="unit_worked" 
                                ng-model="activeValue.byBand[activeBand].byMode[activeMode].worked" 
                                ng-change="modifyActiveValue( 'worked' )">
                        </span> 
                        <span id="cfm">
                            <u>Confirmed</u>:
                            <span ng-repeat="type in cfm">
                                <input type="checkbox" 
                                    ng-model="activeValue.byBand[activeBand].byMode[activeMode][type.field]"
                                    ng-change="modifyActiveValue( 'confirmed' )">
                                {{type.display}} &nbsp;
                            </span> 
                        </span>
                        <input type="text" id="wkd_calls" placeholder="worked callsigns" 
                            ng-model="activeValue.byBand[activeBand].byMode[activeMode].workedCS"/>
                        <input type="submit" class="submit_btn" name="save_award_unit_info" value="Save"
                            ng-click="saveWorkedCS()"/>
                    </span>

                    </div>
                </td>
            </tr>
        </table>


        <table id="ABM_fixed">
            <tr>
                <td rowspan="2" id="wkd_cfm_note">worked <span>/ confirmed</span></td>
                <td ng-repeat="item in const.bands" class="band">{{item}}</td>
            </tr>
            <tr>
                <td class="band_stat" ng-repeat="item in const.bands">
                    {{stats[item].worked}}<span> / {{stats[item].confirmed}}</span>
                </td>
            </tr>
        </table>

    </div>

</div>

<table id="award_progress" ng-if="!activeAward.byBand">
    <tr ng-repeat="group in activeAward.orderedGroups">
        <td class="award_block">
            {{group}}
        </td>
        <td class="award_units">           
            <div class="award_unit" 
                ng-repeat="item in activeAward.values | filter: { 'group': group }" 
                ng-click="setActive( item )"
                ng-style="{ 'background-color': item.confirmed ? user.awardValueConfirmedColor : 
                ( item.worked ? user.awardValueWorkedColor : null ) }">{{item.displayValue}}</div>
        </td>
    </tr>
</table>

<table id="ABM_view" ng-if="activeAward.byBand">
    <tr ng-repeat="item in activeAward.values" ng-class-odd="odd">
        <td class="unit_to_select" ng-click="setActive( item, null, null )">
            <span>{{item.value}}</span> {{item.desc}}
        </td>
        <td class="band" ng-repeat="band in const.bands" 
            ng-style="{ 'background-color': item.byBand[band].confirmed ? user.awardValueConfirmedColor : 
                                ( item.byBand[band].worked ? user.awardValueWorkedColor : null ) }"             
            ng-click="setActive( item, band, null )"
            ng-mouseover="item.byBand[band].popup = true;"
            ng-mouseleave="item.byBand[band].popup = false;">
            <div class="popup" ng-show="item.byBand[band].popup">
                <div ng-repeat="mode in const.modes" 
                    ng-click="setActive( item, band, mode ); $event.stopPropagation();"
                    ng-style="{ 'background-color': item.byBand[band].byMode[mode].confirmed ? 
                        user.awardValueConfirmedColor :                 
                        ( item.byBand[band].byMode[mode].worked ? 
                        user.awardValueWorkedColor : null ) }" 
                    ng-class="{'hover': item.byBand[band].byMode[mode].hover }"
                    ng-mouseenter="item.byBand[band].byMode[mode].hover = true"
                    ng-mouseleave="item.byBand[band].byMode[mode].hover = false"
                    >{{mode}}</div>
            </div>
        </td>
    </tr>
</table>




<table id="loader" ng-show="loading"><tr><td>Loading...<br/><img src="/images/loader.gif" title="Loading"></td></tr></table>


