<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"                                                
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" land="ru" xml:lang="en" ng-app="chPwdApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="Content-Language" content="ru-ru"/>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>ADXcluster.com - Profile</title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
        <script src="changePassword.js"></script>

    </head>
    <body ng-controller="bodyCtrl">
    
    <div id="profile">
        <h4>{{params.callsign}}</h4>
        <form id="new_pass" method="post">
            <input type="password" name="new_pass" ng-model="newPwd"><br/>
            <input type="button" id="submit_btn" name="change_psw" value="Change password"
                  ng-click="changePwdClick()" ng-show="newPwd.length > 5">                
        </form>
    </div>

    </body>
</html>

