<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"                                                
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" land="ru" xml:lang="en" ng-app="loginApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="Content-Language" content="ru-ru"/>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title></title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src='login.js'></script>

    </head>
    <body ng-controller="bodyCtrl">
    <div id="top">
        <a href="/"><img src="/images/ac_logo.jpg" border="0" /></a>
    </div>
    
        <form id="login" method="post">
                Callsign<br/>
                <input type="text" name="callsign" ng-model="user.callsign">
                <br><br>Password<br>
                <input type="password" name="password" ng-model="user.password">
                <br><br>
                <span ng-show="user.register">
                    <br><br>Email<br/>
                    <input type="text" name="email" ng-model="user.email">

                    <br><br>
                    <div id="recaptcha">
                        <div class="g-recaptcha" data-sitekey="6LeDVCQTAAAAAN3QgmsJzIi-mQP5nx9p5Pc6Nj4k"
                            data-callback="rcCallback" data-expired-callback="rcExpired">
                        </div>
                    </div>
                </span>
                <br><br>
                <input id="remember" name="remember" type="checkbox" ng-model="remember">Remember me
                <br/><br/>
                <input type="button" id="submit_btn" name="login" 
                    value="{{user.register ? 'Register' : 'Login'}}" ng-click="login()" 
                    ng-show="loginBtnVsbl()">
                <br><br>
                <div id="login_register">
                    <a href="#" ng-click="user.register = !user.register">
                        {{user.register ? 'Login' : 'Register new user'}}</a>
                </div>
                <div id="login_recovery"><a href="/passwordrecovery.html">Password recovery</a></div>
                <br>
        </form>



    </body>
</html>

