<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"                                                
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" land="ru" xml:lang="en" ng-app="pwdRecApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="Content-Language" content="ru-ru"/>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title></title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src='passwordrecovery.js'></script>

    </head>
    <body ng-controller="bodyCtrl">
    <div id="top">
        <a href="/"><img src="/images/ac_logo.jpg" border="0" /></a>
        <div id="top_menu">
            <a href="/login.html">Login</a>
            <a href="/contact.html">Contact</a>
       </div>
    </div>
    
        <form id="login" method="post">
                Callsign<br/>
                <input type="text" name="callsign" ng-model="callsign">
                <br><br>
                <div id="recaptcha">
                    <div class="g-recaptcha" data-sitekey="6LeDVCQTAAAAAN3QgmsJzIi-mQP5nx9p5Pc6Nj4k"
                        data-callback="rcCallback" data-expired-callback="rcExpired">
                    </div>
                </div>
                <input type="button" id="submit_btn" name="contact_btn" value="Recover my password" 
                    ng-click="send()" ng-show="callsign.length > 2 && recaptcha && !sending">
                
        </form>

    </body>
</html>

