

body{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color:#000;	
	margin:0; padding:0;
	text-align: left;
	background-color: #eee;
	cursor: default;
}


h4{
	text-align: center;
	font-size: 24px;
	padding: 0;
	margin: 10px 0 0 0;
}

input, textarea, select, option{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}
input#submit_btn{
    background-color: #0091c9;
    color: #fff;
    text-align: center;
   	box-shadow: 3px 3px 10px rgba(0,0,0,0.2); /* Параметры тени */
    border: 1px solid #a6def8;
    border-radius: 5px;
}
button{
	width: 25px;
	height: 25px;
	padding: 0;
	border: 1px solid #ccc;
	cursor: pointer;
	position: relative;
}
input.select_color::-webkit-color-swatch-wrapper {
	display:-webkit-flex;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 100%;
    height: 100%;
    -webkit-user-modify: read-only !important;
}    





#top{
	width: 98%;
	margin: 0 auto;
	padding: 10px 1% 0 1%;
	background-color: #eee;
}
#top_menu{
	float: right;
	text-align: right;
	padding-top: 10px;
	padding-right: 30px;
	font-weight: bold;
}
#top_menu a{
	color: #333;
	padding-left: 30px;
}
#top_menu a:hover{
	color: #009;
}













/*                    N E W S                  */

#news{
	width: 70%;
	margin: 20px auto 0 auto;
	padding: 10px 20px 5px 20px;
	background-color: #fffeb3;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	position: relative;
	border: 1px solid #c30202;
	font-size: 14px;
}
#news_close{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
#news_title{	
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 2px 10px;
	font-weight: bold;
	background-color:#c30202;
	color: #fffeb3;
	letter-spacing: 2px;
}
#news a{
	color:#009;
}







/*                         BANDS MODES SELECT                    */

#bands_modes{
	width: 90%;
	margin: 0;
	position: relative;
	margin: 0 auto;
}
#selectors_bands_modes{
	text-align: center;
	background-color: #fff;
	padding: 15px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	color: #bbb;
}
#selectors_bands_modes input{
	margin-right: 0px;
}
#selectors_bands_modes span.band{
	margin-right: 15px;
}
#selectors_bands_modes span.active{
	color: #000;
}
#selectors_bands_modes span.mode{
	margin-right: 15px;
	color: #283a90 ;
}
#selectors_bands_modes span.sound{
	color: #006600;
}
#bands_modes img{
	position: absolute;
	bottom: -50px; /* Положение от нижнего края */
    right: -40px; 
    cursor: pointer;
}






/*                    C L U S T E R             */

table#cluster{
	width: 90%;
	border-collapse: collapse;
	background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	margin: 10px auto 20px auto;
}
table#cluster th{
	padding: 7px;
	border: 1px solid #a6def8;
	color: #fff;
	background-color: #0091c9;
	text-align: center;
}
table#cluster th.time span{
	font-size: 12px;
}
table#cluster th a{
	color: #fff;
}
table#cluster th.awards{
	/* color: #fff400; */
}
table#cluster #link_status_text{
	padding: 1px 5px 0 0;
	font-size: 11px;
	text-align: right;
	vertical-align: middle;
}

#link_status_text{
	float: right;
	padding: 7px 7px 0 0;
}


table#cluster td{
	padding: 5px;
	border: 1px solid #a6def8;
	text-align: center;
	font-size: 14px;
	color: #666;
	vertical-align: middle;
}
table#cluster tr.odd{	background-color: #eff9fe;}

table#cluster a{
	text-decoration: none;
	color: #666;
}
table#cluster a:hover{
	text-decoration: underline;
}


table#cluster td.time{
	width: 60px;
	color: #005;
}
table#cluster td.time span{
	font-size: 10px;
}
table#cluster td.freq{
	font-size: 16px;
	width: 80px;
	color: #005;
	text-align: right;
	font-weight: bold;
}
table#cluster td.freq span{
	font-weight: normal;
	font-size: 14px;
	padding-left: 2px;
}
table#cluster td.mode{
	width: 60px;
	color: #333;
}
table#cluster td.callsign{
	width: 130px;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-align: left;
	padding-left: 10px;
}
table#cluster td.callsign a{
	color: #000;
}

table#cluster td.awards {
	text-align: left;
	color: #333;
	padding-left: 15px;
}
table#cluster td.awards span.award_name{
	font-weight: bold;
	font-size: 16px;
	color: #700;
}
table#cluster td.awards span.award_name img{
	padding-left: 2px;
}


table#cluster td.text{
	width: 180px;
	text-align: left;
	color: #777;
	font-size: 12px;
	overflow: hidden;
}
table#cluster td.spotter{
	width: 70px;
	text-align: left;
	color: #777;
	font-size: 12px;
}















/*                    L O G I N                   */


form#login{ 
    font: 16px Arial, Helvetica, sans-serif; 
    text-align: center;
    width: 50%;
    margin: 10px auto;
    background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	padding: 20px;
}

form#login span{ 
    font-size: 12px; 
    color: #777;
}

form#login input{
    font-size: 18px;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 2px;
    width: 70%; 
    border: 1px solid #ccc;
    text-align: center;
}
form#login input#remember{
    width: 20px; 
}

form#login a{
    color: #999;
    font-weight: normal;
    font-size: 14px;
}
form#login a:hover{
    color: #00F;
}


form#login #login_register{
	float: left;
	text-align: left;
}
form#login #login_register a{
	color: #333;
	font-weight: bold;
}
form#login #login_recovery{
	float: right;
	text-align: left;
}
form#login #login_recovery a{
	color: #333;
}
form#login #login_register a:hover, form#login #login_recovery a:hover{
	color: #00f;
}










/*                           P R O F I L E                  */

#profile_settings{
	width: 70%;
	margin: 10px auto 50px auto;
	padding: 10px;
	background-color: #fff;
	text-align: center;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
}
#profile_menu a{
	padding: 0 50px;
	color: #000;
	text-decoration: underline;
	cursor: pointer;
}
#profile_settings form{
    width: 40%; 
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}
#profile_settings input{
    font-size: 18px;
    padding: 5px;
    margin: 10px 0px;
    width: 95%; 
    border: 1px solid #ccc;
    text-align: center;
}



/*                A W A R D  setup       */

table#setup_block{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: url(images/background_black_80.png) top left;
	color: #000;
}
table#setup_block td{
	text-align: center;
	vertical-align: middle;
}

#award_setup{
	width: 80%;
	background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	margin: 20px auto;
	padding: 20px 20px 50px 20px;
	text-align: center;
	position: relative;
}
table.award_setup{
	background-color: #fff;
	border-collapse: collapse;
	margin: 0px auto;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	margin: 20px auto;
}
table.award_setup th{
	padding: 2px 7px;
	border: 1px solid #a6def8;
	background-color: #0091c9;
	text-align: center;
	color: #fff;
}
table.award_setup td{
	padding: 10px 20px;
	border: 1px solid #a6def8;
}










/*                   A W A R D S   L I S T              */

#awards_list{
	width: 900px;
	margin: 0 auto;
}
table#awards_list{
	width: 100%;
	background-color: #fff;
	border-collapse: collapse;
	margin: 0px auto;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	margin: 0 auto;
}
table#awards_list th{
	padding: 7px;
	border: 1px solid #a6def8;
	background-color: #0091c9;
	text-align: center;
	color: #fff;
}
table#awards_list td{
	padding: 5px;
	border: 1px solid #a6def8;
	text-align: center;
	color: #000;
	vertical-align: middle;
}
table#awards_list td.country{
	font-size: 22px;
	font-weight: bold;
	background-color: #eff9fe;
	color: #900;
}
table#awards_list tr.country_footer{
	display: none;
}
table#awards_list td.track{
	width: 50px;
}
table#awards_list td.color_name{
	width: 80px;
	padding: 5px;
}
table#awards_list td.color_name input{
	width: 25px;
	height: 25px;
	border: 1px solid #ccc;
	cursor: pointer;
}
table#awards_list td.color_name input::-webkit-color-swatch-wrapper {
	padding: 0;
}

table#awards_list td.short_name{
	width: 80px;
	font-weight: bold;
}
table#awards_list td.full_name, table#awards_list th.full_name{
	text-align: left;
}
table#awards_list td.notification{
	width: 90px;
	vertical-align: middle;
}
table#awards_list td.notification img{
	margin-right: 10px;
}
table#awards_list td.notification input{
	margin: 0;
	padding: 0;
}
table#awards_list td.website{
	width: 80px;
}

input#button_ok {
    font-size: 18px;
    padding: 10px 30px;
    margin: 20px auto;
    display: block;
    border: 1px solid #aaa;
    text-align: center;
    background-color: #0091c9;
    color: #fff;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2); /* Параметры тени */
   	border-radius: 5px;
}












/*                  L I S T     edit         */

#list_add_calls{
	width: 1060px;
	background-color: #fff;
	padding: 20px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	margin: 20px auto;
}
#list_add_calls span#list_title{
	font-size: 24px;
	font-weight: bold;
}
#list_add_calls span#short_name{
	font-size: 14px;
	color: #777;
	float: right;
}
#list_add_calls span#short_name input{
	width: 150px;
	text-align: center;
}
#list_add_calls textarea{
	width: 100%;
	margin: 10px 0;
}

table#list_edit{
	width: 1100px;
	background-color: #fff;
	border-collapse: collapse;
	margin: 0px auto;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	margin: 0 auto;
	text-align: center;
}
table#list_edit th{
	padding: 2px 0;
	border: 1px solid #a6def8;
}
table#list_edit th#mode, table#list_edit th#band, table#list_edit th#sound, table#list_edit th#mobile{
	background-color: #0091c9;
	color: #fff;
}
table#list_edit th#delete{
	width: 50px;	
}

table#list_edit td{
	padding: 2px 0px;
	font-size: 12px;
	border: 1px solid #a6def8;
	color: #000;
}
table#list_edit td.band, table#list_edit td.mobile{
	width: 33px;
}
table#list_edit td.mode{
	width: 40px;
}
table#list_edit td.sound, table#list_edit td.mobile{
	width: 50px;
}

table#list_edit td.callsign{
	font-size: 16px;
	padding-left: 10px;
	text-align: left;
	border-right: 3px solid #a6def8;
}
table#list_edit td.delete{
	width: 30px;
	padding: 0;
	cursor: pointer;
	vertical-align: middle;
}
table#list_edit td.delete img{
	width: 20px;
	margin: 3px 0 0 0;
}
table#list_edit tr.odd{	background-color: #eff9fe; }
table#list_edit th.border_right, table#list_edit td.border_right{	border-right: 3px solid #a6def8; }
.grey{color: #aaa;}















/*                ALL BANDS MODES     view       */


table#ABM_edit{
	width: 1100px;
	background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	margin: 10px auto 15px auto;
	padding: 10px;
	text-align: center;
}
table#ABM_edit td{
	line-height: 14px;
	padding: 0;
	vertical-align: top;
}

table#ABM_edit td#view{
	font-size: 14px;
	color: #555;
	vertical-align: middle;
	padding-right: 30px;
	border-right: 1px solid #ddd;
}
table#ABM_edit table.view_modes{
	margin: 5px auto;
	border-collapse: collapse;
}
table#ABM_edit table.view_modes td{
	padding: 0 5px;
}
table#ABM_edit table.view_modes td.view_title{
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #777;
	padding-top: 5px;
}
table#ABM_edit td span#view_filter_note{
	font-size: 10px;
	background-color: #aaa;
	color: #fff;
	padding: 0 5px;
	float: left;
}





table#ABM_edit span#selected_item{
	font-size: 24px;
	font-weight: bold;
	line-height: 16px;
}
table#ABM_edit span#selected_item span{
	font-size: 18px;
	font-weight: normal;
	padding-left: 30px;
}
table#ABM_edit table.bands_modes{
	margin: 7px auto;
	font-weight: bold;
	border-collapse: collapse;
}
table#ABM_edit table.bands_modes td{
	padding: 5px 10px;
	text-align: center;
	color: #bbb;
}
table#ABM_edit span#wkd, table#allbandsmodes_edit span#cfm{
	font-weight: bold;
	padding-right: 20px;
}
table#ABM_edit input#wkd_calls{
	width: 80%;
	font-weight: normal;
	text-align: left;
	margin:7px 0 0 0;
	padding: 2px 5px;
}
table#ABM_edit td span#manual_edit_note{
	font-size: 10px;
	background-color: #aaa;
	color: #fff;
	padding: 0 5px;
	float: right;
}





table#ABM_fixed, table#ABM_view{
	width: 1100px;
	background-color: #fff;
	border-collapse: collapse;
	margin: 0 auto;
	text-align: center;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
}
table#ABM_fixed td{
	border: 1px solid #a6def8;
	padding: 2px 7px;
}
table#ABM_fixed td.band{
	width: 7%;	
	background-color: #0091c9;
	text-align: center;
	color: #fff;
}
table#ABM_fixed td#wkd_cfm_note{
	text-align: right;
	font-size: 12px;
	color: #000;
	vertical-align: bottom;
}
table#ABM_fixed td#wkd_cfm_note span{
	color: #777;
}
table#ABM_fixed td.band_stat{
	font-size: 12px;
	color: #000;
}
table#ABM_fixed td.band_stat span{
	color: #777;
}


table#ABM_view{	margin: 370px auto; }
table#ABM_view tr.odd{	background-color: #eff9fe;}
table#ABM_view td{
	padding: 2px;
	border: 1px solid #a6def8;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}
table#ABM_view td.band{
	width: 7%;	
}
table#ABM_view td.unit_to_select{
	padding-left: 10px;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
}
table#ABM_view td.unit_to_select span{
	font-weight: bold;
	font-size: 18px;
	padding-right: 20px;
}
table#ABM_view td.worked{
	background-color: #0091c9;
}
table#ABM_view td.confirmed{
	background-color: #02b20e;
}
table#ABM_view td span{
	display: inline-block;
	padding: 2px;
	margin: 2px;
	font-size: 12px;
}














/*                S T A T S           */



#fixed_top{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #eee;
}


select#award_title{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	color: #900;
	padding: 5px 10px;
	margin: 10px auto;
	display: block;
}
select#award_title option{	
	color: #000;
}



table#award_info{
	width: 90%;
	margin: 20px auto;
	background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
}
table#award_info td{
	margin: 10px;
	padding: 10px 20px;
	line-height: 2em;
	vertical-align: center;
}

table#award_info td#award_stat{
	width: 25%;
	padding-left: 5%;
}  
table#award_info td#award_stat span{
	font-weight: bold;
	padding: 0 5px 0 10px;
	font-size: 20px;
}

table#view_cfm {
	width: 80%;
	padding: 0;
	margin: 25px 0 0 0;
}
table#view_cfm th{
	padding: 0 0 3px 0;
	font-size: 12px;
	line-height: 10px;
	text-align: center;
	font-weight: normal;
	color: #0091c9;
}
table#view_cfm td{
	width: 33%;
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 10px;
	text-align: center;
}











table#award_info td#award_edit{
	width: 70%;
	text-align: center;	
}
table#award_info td#award_edit input{
	font-size: 18px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
}
table#award_info td#award_edit input.submit_btn {
    padding: 5px 10px;
    border: 1px solid #aaa;
    background-color: #0091c9;
    color: #fff;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2); /* Параметры тени */
   	border-radius: 5px;
}


#selected_unit_info{
	padding: 10px 0;
	border: 1px solid #eee;
	margin-top: 15px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.2); /* Параметры тени */
	border: 1px solid #ccc;
	clear: both;
}

#selected_unit_info span#code{
	font-weight: bold;
	font-size: 20px;
	color: #900;
}

span#wkd, span#cfm{
	font-weight: bold;
	padding-right: 20px;
}

table#award_info td#award_edit input#wkd_calls{
	width: 80%;
	font-weight: normal;
	text-align: left;
	margin-left: 20px;
	padding: 2px 5px;
}








table#award_progress{
	width: 95%;
	margin: 350px auto 50px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
}
table#award_progress td{
	vertical-align: top;
	text-align: left;
	padding: 5px;
}
table#award_progress td.award_block{
	font-weight: bold;
	padding-top: 7px;
	padding-right: 0px;
}
.award_unit{
	display: inline-block;
	height: 14px;
	font-size: 10px;
	margin: 1px;
	padding: 2px 3px;
	border: 1px solid #ccc;
	cursor: pointer;
	text-align: center;
}

.worked{
	background-color: #0091c9;
	border-color: #0091c9;
	color: #fff;	
}
.confirmed{
	background-color: #02b20e;
	border-color: #02b20e;
	color: #fff;
}





/*                C H A N G E   P A S S W O R D          */

#change_pass{
	width: 40%;
	margin: 20px auto;
    text-align: center;
}
#change_pass span{    
	font-size: 12px;
	color: #555;
}
form#new_pass input{
    font-size: 18px;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 2px;
    width: 50%; 
    border: 1px solid #ccc;
    text-align: center;
}







/*            C O N T A C T         */

form#contact{
	width: 500px;
	margin: 50px auto 150px auto;
    padding: 20px;
	background-color: #fff;
    border: 1px solid #ccc;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	text-align: center;
	font-size: 18px;
}
form#contact input, form#contact textarea{
    font-size: 18px;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 2px;
    width: 95%; 
    border: 1px solid #ccc;
    text-align: left;
}
form#contact textarea{
	height: 120px;
}


#recaptcha{
	width: 300px;
	margin: 0 auto 10px auto;
	text-align: center;
}









/*                      A B O U T              */

#about{
	width: 70%;
	margin: 50px auto 50px auto;
    padding: 20px;
	background-color: #fff;
    border: 1px solid #ccc;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	text-align: left;
	line-height: 1.5em;
}

#about hr{
	margin: 50px 0;
}












table#loader{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: url(images/background_white_85.png) top left;
	font-size: 24px;
	line-height: 2em;
	color: #000;
}
table#loader td{
	text-align: center;
	vertical-align: middle;
}





#counter{
	padding-top: 50px;
	text-align: center;
	font-size: 12px;
	color: #777;
}
#counter a{
	color: #777;
}