

body{
/*	font:16px Arial, Helvetica, sans-serif;*/
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color:#000;	
	margin:0; padding:0;
	text-align: left;
	background-color: #eee;
	cursor: default;
	position: relative;
}


h4{
	text-align: center;
	font-size: 24px;
	padding: 0;
	margin: 10px 0 0 0;
}

input, textarea, select, option{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}
input#submit_btn{
    background-color: #0091c9;
    color: #fff;
    text-align: center;
   	box-shadow: 3px 3px 10px rgba(0,0,0,0.2); /* Параметры тени */
    border: 1px solid #a6def8;
    border-radius: 5px;
}
input.select_color{
	width: 25px;
	height: 25px;
	padding: 0;
	border: 1px solid #ccc;
	cursor: pointer;
}
input.select_color::-webkit-color-swatch-wrapper {
	display:-webkit-flex;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 100%;
    height: 100%;
    -webkit-user-modify: read-only !important;
}    





#top{
	width: 98%;
	margin: 0 auto;
	padding: 10px 1% 0 1%;
	background-color: #eee;
}
#top_menu{
	float: right;
	text-align: right;
	padding-top: 10px;
	padding-right: 30px;
	font-weight: bold;
}
#top_menu a{
	color: #333;
	padding-left: 30px;
}
#top_menu a:hover{
	color: #009;
}













/*                    N E W S                  */

#news{
	width: 80%;
	margin: 20px auto 0 auto;
	padding: 0px 20px 5px 20px;
	background-color: #fffeb3;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	position: relative;
	border: 1px solid #c30202;
	font-size: 14px;
}
#news_close{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
#news h4{
	margin: 0;
	padding: 0 0 0px 10px;
	text-align: left;
	font-weight: bold;
	font-size: 18px;
	color:#c30202;
}
#news a{
	color:#009;
}










/*                    C L U S T E R             */

table#cluster{
	width: 90%;
	border-collapse: collapse;
	background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	margin: 0px auto 20px auto;
}
table#cluster th{
	padding: 7px;
	border: 1px solid #a6def8;
	color: #fff;
	background-color: #0091c9;
	text-align: center;
}
table#cluster th.time span{
	font-size: 12px;
}
table#cluster th a{
	color: #fff;
}
table#cluster th.awards{
	color: #fff400;
}
table#cluster #link_status_text{
	padding: 1px 5px 0 0;
	font-size: 11px;
	text-align: right;
	vertical-align: middle;
}

#link_status_text{
	float: right;
	padding: 7px 7px 0 0;
}


table#cluster td{
	padding: 5px;
	border: 1px solid #a6def8;
	text-align: center;
	font-size: 14px;
	color: #666;
	vertical-align: top;
}
table#cluster tr.odd{	background-color: #eff9fe;}



table#cluster td.time{
	width: 60px;
	color: #005;
}
table#cluster td.time span{
	font-size: 10px;
}
table#cluster td.freq{
	font-size: 16px;
	width: 80px;
	color: #005;
	text-align: right;
	font-weight: bold;
}
table#cluster td.freq span{
	font-weight: normal;
	font-size: 14px;
	padding-left: 2px;
}
table#cluster td.callsign{
	width: 130px;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-align: left;
	padding-left: 10px;
}

table#cluster td.awards {
	text-align: left;
	color: #333;
}
table#cluster td.awards span.award_name{
	font-weight: bold;
	font-size: 16px;
	color: #700;
}
table#cluster td.awards span.award_name img{
	padding-left: 2px;
}


table#cluster td.QTHLoc {
	text-transform: uppercase;
	text-align: center;
	width: 70px;
}
table#cluster td.spotter{
	width: 80px;
	text-align: left;
}
table#cluster td.text{
	width: 200px;
	text-align: left;
	color: #000;
	font-size: 12px;
}















/*                    L O G I N                   */


form#login{ 
    font: 16px Arial, Helvetica, sans-serif; 
    text-align: center;
    width: 50%;
    margin: 10px auto;
    background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	padding: 20px;
}

form#login span{ 
    font-size: 12px; 
    color: #777;
}

form#login input{
    font-size: 18px;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 2px;
    width: 70%; 
    border: 1px solid #ccc;
    text-align: center;
}
form#login input#remember{
    width: 20px; 
}

form#login a{
    color: #999;
    font-weight: normal;
    font-size: 14px;
}
form#login a:hover{
    color: #00F;
}


form#login #login_register{
	float: left;
	text-align: left;
}
form#login #login_register a{
	color: #333;
	font-weight: bold;
}
form#login #login_recovery{
	float: right;
	text-align: left;
}
form#login #login_recovery a{
	color: #333;
}
form#login #login_register a:hover, form#login #login_recovery a:hover{
	color: #00f;
}










/*                           P R O F I L E                  */

#profile_settings{
	width: 70%;
	margin: 10px auto 50px auto;
	padding: 10px;
	background-color: #fff;
	text-align: center;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
}
#profile_menu a{
	padding: 0 50px;
	color: #000;
	text-decoration: underline;
	cursor: pointer;
}
#profile_settings form{
    width: 40%; 
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}
#profile_settings input{
    font-size: 18px;
    padding: 5px;
    margin: 10px 0px;
    width: 95%; 
    border: 1px solid #ccc;
    text-align: center;
}













/*                   A W A R D S   L I S T              */

#awards_list{
	width: 90%;
	margin: 0 auto;
}
table#awards_list{
	width: 100%;
	background-color: #fff;
	border-collapse: collapse;
	margin: 0px auto;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	margin: 0 auto;
}
table#awards_list th{
	padding: 7px;
	border: 1px solid #a6def8;
	background-color: #0091c9;
	text-align: center;
	color: #fff;
}
table#awards_list td{
	padding: 5px;
	border: 1px solid #a6def8;
	text-align: center;
	color: #000;
	vertical-align: middle;
}
table#awards_list td.country{
	font-size: 22px;
	font-weight: bold;
	background-color: #eff9fe;
	color: #900;
}
table#awards_list tr.country_footer{
	display: none;
}
table#awards_list td.track{
	width: 50px;
}
table#awards_list td.color_name{
	width: 80px;
	padding: 5px;
}
table#awards_list td.color_name input{
	width: 25px;
	height: 25px;
	border: 1px solid #ccc;
	cursor: pointer;
}
table#awards_list td.color_name input::-webkit-color-swatch-wrapper {
	padding: 0;
}

table#awards_list td.short_name{
	width: 80px;
	font-weight: bold;
}
table#awards_list td.full_name, table#awards_list th.full_name{
	text-align: left;
}
table#awards_list td.notification{
	width: 90px;
	vertical-align: middle;
}
table#awards_list td.notification img{
	margin-right: 10px;
}
table#awards_list td.notification input{
	margin: 0;
	padding: 0;
}
table#awards_list td.website{
	width: 80px;
}

input#button_ok {
    font-size: 18px;
    padding: 10px 30px;
    margin: 20px auto;
    display: block;
    border: 1px solid #aaa;
    text-align: center;
    background-color: #0091c9;
    color: #fff;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2); /* Параметры тени */
   	border-radius: 5px;
}












/*                  M Y   L I S T              */

#add_call{
	width: 50%;
	background-color: #fff;
	padding: 20px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	margin: 20px auto;
}
#add_call textarea{
	width: 100%;
	margin: 10px 0;
}

table#my_list_edit{
	width: 90%;
	background-color: #fff;
	border-collapse: collapse;
	margin: 0px auto;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	margin: 0 auto;
}
table#my_list_edit th{
	padding: 2px 7px;
	border: 1px solid #a6def8;
	background-color: #0091c9;
	text-align: center;
	color: #fff;
}
table#my_list_edit th.band, table#my_list_edit th.mode{
	font-size: 14px;
	width: 30px;
}
table#my_list_edit td{
	padding: 0px;
	border: 1px solid #a6def8;
	text-align: center;
	color: #000;
	vertical-align: middle;
}
table#my_list_edit td.callsign{
	padding-left: 10px;
	text-align: left;
}

table#my_list_edit td.delete{
	padding-top: 2px;
}








table#edit_call_info{
	width: 90%;
	background-color: #fff;
	padding: 5px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	margin: 0 auto 20px auto;
}
table#edit_call_info th{
	color: #000;
	text-align: center;
	padding: 5px 5px 0px 5px;
}
table#edit_call_info th.band{
	width: 68px;
}
table#edit_call_info th#callsign{
	padding-left: 10px;
	font-size: 24px;
	font-weight: bold;
}
table#edit_call_info td{
	color: #000;
	vertical-align: middle;
	text-align: left;
	font-size: 12px;
	border: 1px solid #a6def8;
	padding: 5px;
}
table#edit_call_info td#note{
	color: #777;
	vertical-align: bottom;
	text-align: center;
	font-size: 12px;
	border: none;
}




table#my_list_view{
	width: 90%;
	background-color: #fff;
	border-collapse: collapse;
	margin: 0px auto;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	margin: 0 auto;
}
table#my_list_view th{
	padding: 2px 7px;
	border: 1px solid #a6def8;
	background-color: #0091c9;
	text-align: center;
	color: #fff;
}
table#my_list_view td{
	padding: 0px;
	border: 1px solid #a6def8;
	text-align: center;
	color: #000;
	vertical-align: middle;
}
table#my_list_view td.callsign{
	padding-left: 10px;
	text-align: left;
	cursor: pointer;
}
table#my_list_view td.callsign img{
	float: right;
	padding-right: 5px;
}
table#my_list_view td.band{
	width: 70px;
	font-size: 12px;
	padding: 5px;
}











/*                M Y   A W A R D S              */



#fixed_top{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #eee;
}


select#award_title{
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	color: #900;
	padding: 5px 10px;
	margin: 10px auto;
	display: block;
}
select#award_title option{	
	color: #000;
}



table#award_info{
	width: 80%;
	margin: 20px auto;
	background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
}
table#award_info td{
	margin: 10px;
	padding: 10px 20px;
	line-height: 2em;
	vertical-align: center;
}

table#award_info td#award_stat{
	width: 25%;
	padding-left: 5%;
}  
table#award_info td#award_stat span{
	font-weight: bold;
	padding: 0 5px 0 10px;
	font-size: 20px;
}

table#award_info td#award_edit{
	width: 70%;
	text-align: center;	
}
table#award_info td#award_edit input{
	font-size: 18px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
}
table#award_info td#award_edit input.submit_btn {
    padding: 5px 10px;
    border: 1px solid #aaa;
    background-color: #0091c9;
    color: #fff;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2); /* Параметры тени */
   	border-radius: 5px;
}


#selected_unit_info{
	padding: 10px 0;
	border: 1px solid #eee;
	margin-top: 15px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.2); /* Параметры тени */
	border: 1px solid #ccc;
}

#selected_unit_info span#code{
	font-weight: bold;
	font-size: 20px;
	color: #900;
}
table#award_info td#award_edit input#wkd_calls{
	width: 50%;
	font-weight: normal;
	text-align: left;
	margin-left: 20px;
	padding: 2px 5px;
}








table#award_progress{
	width: 95%;
	margin: 350px auto 50px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
}
table#award_progress td{
	vertical-align: top;
	text-align: left;
	padding: 5px;
}
table#award_progress td.award_block{
	font-weight: bold;
	padding-top: 7px;
	padding-right: 0px;
}
.award_unit{
	display: inline-block;
	height: 14px;
	font-size: 10px;
	margin: 1px;
	padding: 2px 3px;
	border: 1px solid #ccc;
	cursor: pointer;
	text-align: center;
}

.worked{
	
}
.confirmed{
	background-color: #02b20e;
	border-color: #02b20e;
	color: #fff;
}





/*                C H A N G E   P A S S W O R D          */

#change_pass{
	width: 40%;
	margin: 20px auto;
    text-align: center;
}
#change_pass span{    
	font-size: 12px;
	color: #555;
}
form#new_pass input{
    font-size: 18px;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 2px;
    width: 50%; 
    border: 1px solid #ccc;
    text-align: center;
}







/*            C O N T A C T         */

form#contact{
	width: 500px;
	margin: 50px auto 150px auto;
    padding: 20px;
	background-color: #fff;
    border: 1px solid #ccc;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* Параметры тени */
	text-align: center;
	font-size: 18px;
}
form#contact input, form#contact textarea{
    font-size: 18px;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 2px;
    width: 95%; 
    border: 1px solid #ccc;
    text-align: left;
}
form#contact textarea{
	height: 120px;
}


#recaptcha{
	width: 300px;
	margin: 0 auto 10px auto;
	text-align: center;
}












#counter{
	padding-top: 50px;
	text-align: center;
	font-size: 12px;
	color: #777;
}
#counter a{
	color: #777;
}